@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	padding: 2rem;
	background-color: pink;
	text-align: center;
	margin: 0px
}

nav.main-nav ul {
	display: flex;
	list-style: none;
	background-color: skyblue;
	color: black;
}

nav.main-nav li:nth-child(2), nav.main-nav li:nth-child(3) {
	margin-left: auto;
}

nav.main-nav li:hover {
	background-color: violet;
	color: blue;
}

nav.main-nav li {
	cursor: pointer;
	padding: 0.5rem;
}

nav.main-nav input, nav.main-nav select {
	width: 200px;
	border-radius: 5px;
	padding: 5px;
}